body{
    background: #efefef;

}
.parent {
    position: absolute;
    height: 300px;
    width: 300px;
    background: pink;
    border: 10px  double;
     display: flex;
}



.child img{
    position: relative;
   left: 20px;
   top: 20px;
    border:10px double ;
    width: 300px;
    height: 300px;
    z-index: 0;

}
.parent1 {
    position: fixed;
    right: 0;
    top: 0;
    height: 300px;
    width: 300px;
    background: pink;
    border: 7px rgb(27, 15, 27) solid;
     
}
.parent2 {
    position: relative;
   left: 40%;
   
    height: 300px;
    width: 300px;
    background: pink;
    border: 7px rgb(27, 15, 27) solid;
     
}



